<MudPaper Elevation="0">

    @if (Model is null)
    {
        <MudText>Not Selected</MudText>
    }
    else {
        <div class="d-flex mb-4">
            <MudTextField T="string" @bind-Value="@Model.Id.Value.Schema" Label="Schema" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled="true" />
            <MudText Class="ma-1 align-self-center">:</MudText>
            <MudTextField T="string" @bind-Value="@Model.Id.Value.Path" Label="Path" Variant="Variant.Outlined" Margin="Margin.Dense" />
            <MudText Class="ma-1 align-self-center">;</MudText>
            <MudTextField T="string" @bind-Value="@Model.Id.Value.Version" Label="Version" Variant="Variant.Outlined" Margin="Margin.Dense" />
        </div>

        <MudTextField T="string" @bind-Value="@Model.Name.Value" Label="Name" Variant="Variant.Outlined" HelperText="The ''programming'' name of the property." Margin="Margin.Dense" Class="mb-4" />

        <MudTextField T="string" @bind-Value="@Model.DisplayName.Value" Label="Display Name" Variant="Variant.Outlined" HelperText="A localizable name for display" Margin="Margin.Dense" Class="mb-4" />

        <MudTextField T="string" @bind-Value="@Model.Description.Value" Label="Description" Variant="Variant.Outlined" Margin="Margin.Dense" HelperText="A localizable description for display" Lines="5" Class="mb-4" />

        <MudTextField T="string" @bind-Value="@Model.Comment.Value" Label="Comment" Variant="Variant.Outlined" Margin="Margin.Dense" HelperText="A comment for model authors" Lines="5" Class="mb-4" />
    }
</MudPaper>

@code {
    [Parameter]
    public TwinTelemetryViewModel? Model { get; set; }
}
